<h1><%=@category.name%></h1>
<% @articles.each do |article| %>

<li><%= link_to article.name, category_articles_path %></li>

<%end%>

<h3><%= link_to 'Submit an Article', new_category_article_path %></h3>


