<div id = "index-design">

<h1 id = "index-header">discuss & discover</h1>

<%= link_to 'Sign up', new_user_path, id: 'sign-up-button' %>

</div>

<h2 id = "index-subheader">ABOUT DISCLY</h2>
<div id = "index-body">
<p>discly is your space to speak and listen about what you love. We foster discovery and discussion within and between communities of passionate individuals who care deeply about their interests.</p>
<p>Start a discussion in one of our <%= link_to 'categories', categories_path%>, or dare to explore something new.</p>
</div>
