/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family: 'Open Sans', sans-serif;
}

#index-design {
      background-image: url("http://s13.postimg.org/v9lthmqaf/9435294451_d8073cf1da_o.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 300px 0px 100px 0px;
}

#index-header {
  font-family: 'Satisfy', serif;
  font-size: 4.8em;
  text-align: center;
  color: #eeeeee;
  text-shadow: #000 2px 2px 15px;
  margin-bottom: -10px;
}


#sign-up-button,
button,

input[type='reset'],
input[type='submit'] {
  background-color: #e57111;
  border-radius: 0.3rem;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0rem;
  font-weight: 550;
  height: 3.3rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button:hover, .button:focus,
button:hover,
button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus {
  background-color: #606c76;
  border-color: #606c76;
  color: #ffffff;
  outline: 0;
}

#index-subheader{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 2em;
}

#index-body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 0px 50px 0px 50px;
}

#header{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 2em;
  text-decoration: none
}

.right {
  position: absolute;
    right: 0px;
}

.button,
button,

input[type='reset'],
input[type='submit'] {
  background-color: #eeeeee;
  border: 0.1rem solid #ffffff;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.button:hover, .button:focus,
button:hover,
button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus {
  background-color: #606c76;
  border-color: #606c76;
  color: #ffffff;
  outline: 0;
}

.button,
button,

input[type='reset'],
input[type='submit'] {
  background-color: #eeeeee;
  border: 0.1rem solid #ffffff;
  border-radius: 0.4rem;
  box-sizing: border-box;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.button:hover, .button:focus,
button:hover,
button:focus,
input[type='button']:hover,
input[type='button']:focus,
input[type='reset']:hover,
input[type='reset']:focus,
input[type='submit']:hover,
input[type='submit']:focus {
  background-color: #606c76;
  border-color: #606c76;
  color: #ffffff;
  outline: 0;
}
